* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  width: 300px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  position: relative;
}

@media (max-width: 500px) {
  #container {
    width: 500px;
  }
}

.logo {
  max-width: 110px;
  margin-bottom: 20px;
}

.reg-text {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
}

#container input {
  width: 100%;
  padding: 9px 0;
  margin-bottom: 10px;
  padding-left: 10px;
  border: 1px solid rgb(234, 78, 29);
  border-radius: 5px;
  outline-color: rgb(234, 78, 29);
  font-family: 'Montserrat', sans-serif;
}

#container input:focus {
  background-color: rgba(234, 78, 29, 0.1);
}

#container select {
  width: 100%;
  padding: 9px 0;
  margin-bottom: 10px;
  padding-left: 10px;
  border: 1px solid rgb(234, 78, 29);
  border-radius: 5px;
  outline-color: rgb(234, 78, 29);
  font-family: 'Montserrat', sans-serif;
}

#container select:focus {
  background-color: rgba(234, 78, 29, 0.1);
}

.submit-button {
  text-decoration: none;
  color: white;
  background-color: rgb(234, 78, 29);
  padding: 8px 40px;
  border-radius: 40px;
  font-weight: 600;
  margin-bottom: 10px;
}

.account-sug {
  font-size: 12px;
}

.sign-color {
  color: rgb(234, 78, 29);
}

.footer-text-container {
  background-color: black;
  left: 0;
  right: 0;
  height: 30px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-text {
  color: white;
  text-align: center;
  font-size: 10px;
  background-color: black;
}